:root {
    --nav-height: 100px;
    --min-body-height: calc(100vh - var(--nav-height));
    --footer-height: 200px;
    --shadow-sm: 0px 0px 5px 2px var(--bs-info);
    --main-container-padding: 70px;
    --fill-height: calc(var(--min-body-height) - 2*var(--main-container-padding))
}

html, body {
    min-height: 100% !important;
    height: 100%;
}

body{
    margin: 0px;
    background-color: var() !important;
}

.my-nav {
    min-height: var(--nav-height);
    box-shadow: var(--shadow-sm);
}


.main-container {
    min-height: var(--min-body-height);
    max-width: 90%;
    margin: auto;
    padding: var(--main-container-padding) 0px;
    position: relative;
} 

footer {
    height: var(--footer-height);
    
}

