.input {
    padding: 5px 10px;
    margin: 3px;
    box-shadow: var(--shadow-sm);
}

.input.input-not-valid::after {
    content: '&#10003';
    color: var(--bs-success);
}

.input-valid::after{
    content: "fasdasff";
    background-color: aqua;
    width: 105px;
    height: 105px;
    display: inline;
    position: absolute;
    

}